/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}


/* Container */


/* Navbar styling */

nav {
    background: var(--clr-white);
    padding: 1rem 0;
}

.nav-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* fixed nav */

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.fixed-nav .logo a {
    color: var(--clr-grey-1);
}

.fixed-nav .nav-items a {
    color: var(--clr-grey-1);
    transition: var(--transition);
}

.fixed-nav .nav-items a:hover {
    color: crimson;
}


/* .fixed-nav .links-container {
  height: auto !important;
} */

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    outline: none;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-secondary);
}

.logo a {
    color: var(--clr-grey-1);
    font-weight: bold;
    font-size: 2rem;
}

.logo a span {
    color: crimson;
}

.items-container {
    height: 0;
    transition: var(--transition);
    overflow: hidden;
}

.nav-items a {
    display: block;
    background: var(--clr-white);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    padding: 0.75rem 0;
    transition: var(--transition);
}

.nav-items a:hover {
    color: crimson;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('images/banner.jpg') center/cover no-repeat;
}

.banner {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
}

.banner .banner-item {
    /* margin: auto 0 auto 0; */
    position: relative;
    top: 30vh;
    left: 0;
    color: var(--clr-white);
}

.banner .banner-item .text-1 {
    font-size: 27px;
}

.banner .banner-item .text-2 {
    font-size: 50px;
    font-weight: 400;
}

.banner .banner-item .text-3 {
    font-size: 35px;
    margin-bottom: 0.5rem;
}

.banner .banner-item .text-3 span {
    color: crimson;
}


/* Buttons */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: transparent;
    transform: scaleX(0.97);
}

.btn-crimson {
    color: var(--clr-white);
    background: crimson;
    border-color: crimson;
    border-radius: 0;
    padding: 0.5rem 1rem;
}

.btn-crimson:hover {
    background: #111;
}


/* Scroll top link styling */

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 8rem;
    right: 3rem;
    background: crimson;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}


/* About Section styling */

.about {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: var(--clr-white);
}


/* common section content */

section .title {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 170px;
    height: 3px;
    transform: translateX(-50%);
    background: #111;
}

section .title::after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    padding: 5px;
    background: #fff;
    color: crimson;
}

.about .title::after {
    content: "who i am";
}

.about-info .text,
.skills-info .text,
.contact-info .text {
    font-size: 1.5rem;
    font-weight: 600;
}

.about-info .text span {
    color: crimson;
}

.about-image {
    position: relative;
    width: 25rem;
    height: 30rem;
    justify-self: center;
}

.about-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid crimson;
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
}

.my-photo {
    max-width: 25rem;
    height: 30rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
}


/* Services section styling */

.services,
.teams {
    background: var(--clr-dark-black);
    color: var(--clr-white);
}

.services .title::before,
.teams .title::before {
    background: var(--clr-white);
}

.services .title::after {
    background: var(--clr-dark-black);
    content: "what i provide";
}

.services .card,
.teams .card {
    background: var(--clr-black);
    color: var(--clr-white);
    transition: var(--transition);
}


/* .services .card .card-body {
    transition: var(--transition);
} */

.services .card:hover {
    transform: scale(1.05);
    background: crimson;
}

.services .card:hover i {
    color: var(--clr-white);
}

.services .card i {
    color: crimson;
    transition: color o.3s ease;
}

.services .card .flex {
    flex-direction: column;
}


/* Skills section styling */

.skills,
.contact {
    font-family: 'Poppins', sans-serif;
    background: var(--clr-white);
}

.skills .title::after {
    content: "what i know";
}

.skill-bars .bar-info .flex {
    justify-content: space-between;
}

.skill-bars span {
    font-weight: 500;
}

.skill-bars .progress-bar {
    width: 100%;
    height: 10px;
    background: lightgray;
    position: relative;
}

.skill-bars .progress-bar::before {
    border-radius: 0px 5px 5px 0px;
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skill-bars .html::before {
    width: 90%;
}

.skill-bars .css::before {
    width: 65%;
}

.skill-bars .bootstrap::before {
    width: 85%;
}

.skill-bars .js::before {
    width: 70%;
}

.skill-bars .jq::before {
    width: 85%;
}

.skill-bars .git::before {
    width: 80%;
}


/* Teams section styling */

.teams .title::after {
    background: var(--clr-dark-black);
    content: "who with me";
}

.teams .card {
    text-align: center;
}

.teams .card:hover {
    background-color: #fff;
    color: #333;
}

.teams .card img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.teams .card:hover img {
    border-color: crimson;
}

.teams .card .card-title {
    margin: 10px 0px;
    font-weight: 500;
    color: crimson;
    font-size: 1.5rem;
}


/* Contact section styling */

.contact .title::after {
    content: "get in touch";
}

.contact .address .flex {
    justify-content: flex-start;
}

.contact .address .address-content i {
    color: crimson;
    margin-right: 1.5rem;
}

.address-info .head {
    font-weight: 600;
}


/* netlify form class hidden */

.hidden {
    visibility: hidden;
    height: 0;
}

.contact .card {
    cursor: auto;
}

.contact .form-control {
    margin: 15px 0;
}

label {
    font-weight: 500;
    font-size: 1rem;
}

.card input[type='text'],
.card input[type='email'] {
    outline: none;
    border: 0;
    border: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    margin-top: 4px;
    font-size: 16px;
}

.card textarea {
    margin-top: 4px;
    outline: none;
    font-size: 16px;
    width: 100%;
    border-color: #b4becb;
}


/* footer section styling */

.footer {
    background: var(--clr-dark-black);
}

.footer .logo a {
    color: var(--clr-white);
    font-weight: bold;
    font-size: 2rem;
}

.footer .logo a span {
    color: crimson;
}

.footer .nav {
    padding: 0!important;
    background: transparent;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li a {
    color: var(--clr-white);
    transition: var(--transition);
}

.footer ul li a:hover {
    color: crimson;
}

.footer .social {
    text-align: end;
}

.footer .social a {
    margin: 0 10px;
    color: var(--clr-white);
    transition: var(--transition);
}

.footer .social a:hover {
    margin: 0 10px;
    color: crimson;
}

.footer p {
    color: var(--clr-white);
    text-align: center;
    font-size: 1rem;
}


/* Media Queries */

@media(max-width: 1100px) {
    .footer .grid {
        grid-template-columns: 1fr;
    }
    .footer ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .social {
        text-align: start;
    }
    .footer .social a:first-child {
        margin-left: 0;
    }
    .footer p {
        text-align: justify;
    }
}

@media(min-width:800px) {
    nav {
        background: transparent;
    }
    .nav-toggle {
        display: none;
    }
    .logo a {
        color: var(--clr-white);
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .nav-header {
        padding: 0;
    }
    .items-container {
        height: auto !important;
        width: 65%;
    }
    .nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-items a {
        background: transparent;
        color: var(--clr-white);
        padding: 0;
    }
    .nav-items a:hover {
        color: crimson;
    }
}

@media(max-width: 600px) {
    .banner .banner-item .text-1 {
        font-size: 20px;
    }
    .banner .banner-item .text-2 {
        font-size: 35px;
    }
    .banner .banner-item .text-3 {
        font-size: 30px;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}