/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}


/* Navbar styling */

nav {
    background: var(--clr-white);
    padding: 1rem 1.5rem;
}


/* fixed nav */

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.fixed-nav .logo a {
    color: var(--clr-grey-1);
}

.fixed-nav .nav-items a {
    color: var(--clr-grey-1);
    transition: var(--transition);
}

.fixed-nav .nav-items a:hover {
    color: crimson;
}


/* .fixed-nav .links-container {
  height: auto !important;
} */

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    outline: none;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-secondary);
}

.logo a {
    color: var(--clr-grey-1);
    font-weight: bold;
    font-size: 2rem;
}

.logo a span {
    color: crimson;
}

.items-container {
    height: 0;
    transition: var(--transition);
    overflow: hidden;
}

.nav-items a {
    display: block;
    background: var(--clr-white);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    padding: 0.75rem 0;
    transition: var(--transition);
}

.nav-items a:hover {
    color: var(--clr-grey-1);
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('images/banner.jpg') center/cover no-repeat;
}

.banner {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
}

.banner .container {
    margin: auto 0 auto 0;
    color: var(--clr-white);
}

.banner .container .text-1 {
    font-size: 27px;
}

.banner .container .text-2 {
    font-size: 50px;
    font-weight: 400;
}

.banner .container .text-3 {
    font-size: 35px;
    margin-bottom: 0.5rem;
}

.banner .container .text-3 span {
    color: crimson;
}


/* Buttons */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: crimson;
    transform: scaleX(0.98);
}

.btn-white {
    color: var(--clr-white);
    border-color: crimson;
    border-radius: 0;
    padding: 0.5rem 1rem;
}

.testing {
    height: 80vh;
    background: red;
}


/* Scroll top link styling */

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-secondary);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}


/* Media Queries */

@media(min-width:800px) {
    nav {
        background: transparent;
    }
    .nav-toggle {
        display: none;
    }
    .logo a {
        color: var(--clr-white);
    }
    .nav-container {
        width: 90vw;
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .nav-header {
        padding: 0;
    }
    .items-container {
        height: auto !important;
        width: 65%;
    }
    .nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-items a {
        background: transparent;
        color: var(--clr-white);
        padding: 0;
    }
    .nav-items a:hover {
        color: crimson;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}