/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* variables */

:root {
    --light-color: #fff;
}

body {
    color: #333;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

img {
    width: 100%;
}


/* navBar styling */

.navbar {
    /* background: crimson; */
    padding: 30px 0;
    position: fixed;
    width: 100%;
    min-height: 8vh;
}

.navbar nav {
    min-width: 55%;
}

.navbar .logo a {
    font-size: 35px;
    color: var(--light-color);
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

.nav-toggle {
    background: transparent;
    outline: none;
    border: none;
    color: var(--light-color);
    cursor: pointer;
}

.links-container {
    height: 0;
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a {
    color: var(--light-color);
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: crimson;
}

.navbar .flex {
    justify-content: space-between;
}


/* Home section styling */

.home {
    /* padding-top: 100px; */
    display: flex;
    background: url('images/banner.jpg') no-repeat center/ cover;
    background-attachment: fixed;
    height: 100vh;
    color: var(--light-color);
    min-height: 500px;
}

.home .container {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 50px;
    font-weight: 400;
}

.home .home-content .text-3 {
    font-size: 35px;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}